---
default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']
      - id: debug-statements
      - id: check-merge-conflict
      - id: pretty-format-json
        args: [--autofix, '--no-sort-keys']
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: trailing-whitespace
        exclude: .bumpversion.cfg
  - repo: https://github.com/timothycrosley/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
      - id: poetry-install
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v25.12.2
    hooks:
      - id: ansible-lint
        stages:
          - pre-commit
