name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install system deps
        shell: bash
        run: |
          pip install poetry
          pip install poetry-plugin-export
          poetry config virtualenvs.in-project true
          poetry install --no-root --only dev --sync

      - name: Install playbooks requirements
        shell: bash
        run: poetry run inv galaxy-install

      - name: Linting
        shell: bash
        run: poetry run inv hooks

  tests:
    needs: linting
    name: molecule-${{ matrix.distro }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - debian11
      fail-fast: true
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install system deps
        shell: bash
        run: |
          pip install poetry
          pip install poetry-plugin-export
          poetry config virtualenvs.in-project true
          poetry install --no-root

      - name: Install playbooks requirements
        shell: bash
        run: poetry run inv galaxy-install

      - name: Run security checks
        shell: bash
        run: poetry run inv security

      - name: Run Molecule tests
        run: poetry run inv tests
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
